@import url(/css/general/styles.css) all;


body{
    padding: 2em;
   
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
}
.logo img{
    width: 5em;
}


form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 7em;
}
form input{
    width: 100%;
    padding: 1em 1.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    background: var(--d-mode-grey);
    color: var(--greenColor);
}
#login{
    background: var(--greenColor);
    color: var(--white);
    letter-spacing: 2px;
}


.info{
    margin-top: 7em;
    text-align: center;
    color: var(--headingText);
}