@import url(/css/general/styles.css) all;


body{
    padding: 1.5em;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
}
.logo img{
    width: 5em;
}
.logo h2{
    margin-top: 1em;
    color: var(--dark-background);
}


form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    margin-top: 7em;
}
form input{
    width: 100%;
    padding: 1em 1.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    background:#c6e2e2;
    color: var(--dark-background);
}
#login{
    background: var(--greenColor);
    color: var(--white);
    letter-spacing: 2px;
}
form p{
    color: red;
    text-align: start;
    display: none;
}



.info{
    margin-top: 10em;
    text-align: center;
    color: var(--headingText);
}

