@import url(/css/general/styles.css) all;




header{
    position: static;
    padding: 2.5em 1em 0 1em;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.welcome p{
    margin-top: 1em;
}
.icons{
    display: flex;
    align-items: center;
    gap: 1em ;
    font-size: 140%;
}






.link-container{
    padding: 2.5em 1em 1em 1em;
    margin: 0em 0 2em 0;
}

.link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
    border-radius: 1em;
    padding: 0em 1em;
    margin-bottom: 2em;
}
.link p{
    color: var(--headingText);
}
.link img{
    width: 13em;
    height: 10em;
}
.purple{
    background: var(--purple);
}
.blue{
    background: var(--blue);
    padding: 0 3em 0 1em;
}
.green{
    background: var(--green);
}