@import url(/css/general/styles.css) all;


header{
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}
header p{
    font-size: 150%;
}


.illustration{
    padding: 2em 1.5em 0 1.5em;
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--headingText);
}
.illustration p{
    font-size: 110%;
    font-weight: 500;
    color: var(--headingText);
}
.illustration img{
    width: 13em;
    height: 10em;
}


.course-list{
    padding: 2em 1em;
    margin: 0 0 3.5em 0;
}


.course{
    display: flex;
    align-items: center;
    gap: 1.5em;
    box-shadow: 0 2px 7px #aaaaaa70;
    padding: 1em 2em;
    border-radius: .5em;
    margin-bottom: 1em;
}
.course:active{
    background: #aaaaaa1f;
}
.course i{
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    background: rgb(0, 170, 0);
    font-size: 150%;
}
.c-code-and-c-title{
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: .2em;
}
.c-code-and-c-title h3{
    font-weight: 500;
    font-size: 90%;
    color: var(--primaryColor);
}
.c-code-and-c-title p{
    font-size: 80%;
    color: var(--normalText);
}





/* Dark mode styles*/
body.dark-mode .illustration p{
    color: var(--white);
}

body.dark-mode .c-code-and-c-title h3{
    color: var(--white);
}
body.dark-mode .course{
    box-shadow: 0 0 4px #aaaaaa70;
}