@import url(/css/general/styles.css) all;


header{
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}
header p{
    font-size: 130%;
}

.notification-boxes{
    margin: 5em 0 5em 0;
    padding: 0 1.5em;
}

.not-box{
    background: var(--notificationBox);
    padding: 1.5em 1em;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: .5em;
    border-radius: .2em;
    margin-bottom: 1em;
}
.not-box-top{
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 80%;
    font-weight: 450;
}
.dot{
/**    background: var(--primaryColor); **/
    background: rgb(28, 180, 28);
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.title{
    font-size: 70%;
    color: var(--primaryColor);
}
.not-content{
    color: var(--dark-background);
    font-size: 85%;
    font-weight: 350;
}




/* Dark mode styles*/
body.dark-mode .title{
    color: var(--greenColor);
}
body.dark-mode .not-content{
    color: var(--white);
    font-weight: 100;
}
body.dark-mode .date{
    color: var(--normalText);
}