@import url(/css/general/styles.css) all;


body{
    padding: 1.5em;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
}
.logo img{
    width: 5em;
}
.logo h2{
    margin-top: 1em;
    color: var(--dark-background);
}


form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2em;
    margin-top: 4em;
}

/* Disable autofill input color change */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #c6e2e2 inset !important;
}
  

.names{
    background-color: red;    
}


form #email,
form #first_name,
form #last_name,
form #reg_number{
    width: 100%;
    height: 3em;
    padding: 1em 1.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    background:#c6e2e2;
    color: var(--dark-background);
}
.password-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    background:#c6e2e2;
    color: var(--dark-background);
    border-radius: 5px;
    padding-right: 1em;
}

#password{
    background: transparent;
    width: 100%;
    height: 3em;
    border: none;
    outline: none;
    margin: 0;
    padding: 1em 1.5em;
    border-radius: 5px;
}
.password-div i{
    font-size: 90%;
    cursor: pointer;
}



#btnSubmit{
    background: var(--greenColor);
    color: var(--white);
    letter-spacing: 2px;
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 5px;
}
#btnSubmit:active{
    background: var(--clickedLogin);
}
form p{
    color: red;
    text-align: start;
    display: none;
}


.to-sign-in{
    margin-top: 2em;
    text-align: center;
    color: var(--headingText);
}
.to-sign-in p a{
    color: var(--greenColor);
}


.info{
    margin-top: 7em;
    text-align: center;
    color: var(--headingText);
}



.login-loader {
    margin-top: 1em;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid var(--greenColor); /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
    display: none; /* Initially hidden */
  }
  
  /* Loader animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


