

:root{
    --primaryColor:#164BA1;
    --white:#F0F4FA;
    --grey:#ADB4BF;


    --purple: #8000803d;
    --purpleText:#800080d5;

    --blue: #0000802d;
    --blueText: #000080d5;

    
    --green: #00800033;
    --greenText: #008000ce;


    --headingText: #3f3f3f;
    --normalText:#7b7d80;
}




.empty-message{
    margin-top: 18em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--normalText);
    text-align: center;
    line-height: 1.5em;
}
.empty-message img{
    width: 10em;
    margin-bottom: 2em;
}







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
a:active,
a:hover{
    outline: none; /* Removes the outline that appears on some browsers */
  }
  
body{
    background: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    position: fixed;
    top: 1em;
    left: 0;
    right: 0;
    padding: .5em 1em;
    color: var(--headingText);
}













footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1em;
    background: #fff;
    box-shadow: 0 0 3px #d6d6d6;
}
.active{
    color: var(--primaryColor);
}
footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2em;
    text-decoration: none;
    width: 100%;
    color: var(--grey);
}
footer a i{
    font-size: 120%;
    margin-top: .5em;
}
footer a p{
    font-size: 80%;
    margin: 0;
}














.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    z-index: 1000;
  }
  
  .loader {
    border: 8px solid var(--grey);
    border-top: 8px solid #3498db;
    border-radius: 10%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  .percentage {
    text-align: center;
    font-size: 100%;
    color: #333;
  }
  
  .content {
    display: none; /* Hide content initially */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }










  .popup-container{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    background: #ffffffbb;
    z-index: 700;
}
.feedbackPopup{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    box-shadow: 0 0 7px var(--grey);
    background: #fff;
    padding: 1em;
    margin: 1em;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    border-radius: 1em;
}
.feedbackPopup p{
    margin-top: 1.5em;
    margin-bottom: .5em ;
    font-size: 120%;
    color: var(--primaryColor);
}
form{
    width: 100%;
}
form textarea{
    width: 100%;
    height: 12em;
    border: none;
    resize: none;
    border-radius: .5em;
    background: #aaaaaa25;
    padding: 1em;
    outline: none;
}
.button-and-cancel{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin-top: .8em;
}
.button-and-cancel button{
    padding: 1em;
    width: 100%;
    border-radius: .5em;
    border: none;
    color: #fff;
    background: var(--headingText);
    cursor: pointer;
}
.button-and-cancel button:hover{
    background: var(--normalText);
}
.button-and-cancel i{
    color: red;
    font-size: 150%;
    padding: .1em;
    border-radius: 50%;
    border: 2px solid red;
    cursor: pointer;
}
.button-and-cancel i:hover{
    background: var(--grey);
}