
:root{
    /*--primaryColor:#0d2296; */
    --primaryColor:#0a0aa6;
    --greenColor: #009200;
    --white:#F0F4FA;
    --grey:#ADB4BF;
    --notificationBox:#adb4bf36;


    --purple: #8000803d;
    --purpleText:#800080d5;

    --blue: #0000802d;
    --blueText: #000080d5;

    
    --green: #00800033;
    --greenText: #008000ce;


    --headingText: #3f3f3f;
    --normalText:#7b7d80;




    /* Dark theme */
    --dark-background: #222;
    --d-mode-grey:#adb4bf;
}




.empty-message{
    margin-top: 18em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--normalText);
    text-align: center;
    line-height: 1.5em;
}
.empty-message img{
    width: 10em;
    margin-bottom: 2em;
}







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
a:active,
a:hover{
    outline: none;  
}
  
body{
    background: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;




    -webkit-user-select: none; /* Disable text selection for WebKit browsers */
    -moz-user-select: none; /* Disable text selection for Mozilla Firefox */
    -ms-user-select: none; /* Disable text selection for Microsoft browsers */
    user-select: none; /* Disable text selection for other browsers */
}

header{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em 1.5em;
    color: var(--headingText);
    background: #fff;
    box-shadow: 0 0 3px #d6d6d6;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}













footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .2em 1em .5em 1em;
    background: #fff;
    box-shadow: 0 0 3px #d6d6d6;
}
.active{
    color: var(--primaryColor);
}
footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2em;
    width: 100%;
    text-decoration: none;
    color: var(--grey);
    transition: .5s ease-in-out;
}

footer a:active{
    background: #aaaaaa1f;
}
footer a i{
    font-size: 120%;
    margin-top: .5em;
}
footer a p{
    font-size: 80%;
    margin: 0;
}






















.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha (last parameter) for darkness */
    z-index: 999;
}

.loader {
    border: 10px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite, pulse 2s infinite;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 1000;
    background: #f1f1f1;
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.8);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes pulse {
    0%, 100% { transform: scale(.7); }
    50% { transform: scale(1.5); }
}

   













#pwa-install-banner {
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3498dbf3;
    color: #fff;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#install-button {
    background-color: #ffffffdc;
    color: #3498db;
    border: none;
    padding: 10px 20px;
    font-size: 120%;
    cursor: pointer;
    border-radius: 5px;
}




#sun{
    display: none;
    color: #ffff00;
}
/* Dark theme styles */
body.dark-mode{
    background: var(--dark-background);
}
body.dark-mode header{
    background: var(--dark-background);
    color: var(--white);
    box-shadow: 0 0 3px #111;
}

body.dark-mode footer{
    background: var(--dark-background);
    box-shadow: 0 0 3px #111;
}
body.dark-mode footer .active{
    color: var(--greenColor);
}